body{
    background-color: rgb(248, 227, 197);
}
/*imagen*/

.img-content>h1{
    position: relative;
color: rgb(160, 140, 160);
position: absolute;
top: 35%;
left: 30%;
transform: translate(-50%, -50%);
font-size: xx-large;
font-weight: bolder;
}
/*Galeria*/

.galeria{
    padding-left: 10em;
    padding-top: 3em;
}


/*mapa*/
.mapa{
    margin-left: 30em;
}
.mapa>h2{
    margin-left: 10em;
}

/*Footer*/
 .mensaje>p{
     margin-right: 50em;
     float: right;;
 }

.content{
    background-color: rgb(31, 28, 8);
}

/*info*/

.info{
    float: right;
    width: 28%; 
    padding: 20px;
    margin-right: 35em;

}

